@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using DotNet_Crud.Models;

@model List<Product>

<h2>Show Products</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Desc</td>
                <td>@item.Price</td>
                <td><a asp-controller="Home" asp-action="UpdateData" asp-route-id="@item.Id">Update</a> 
                    <a asp-controller="Home" asp-action="DeleteData" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }

    </tbody>
</table>